*, html { 
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
}

/* class full center */

.full-center {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* header  */

.main-header {
    width: 100%;
    height: 100vh;
    min-width: 330px;
    background-image: url(imagenes/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: 1.6s;
    z-index: 10;
}


/* history-header */


.history-header {
    width: 100%;
    height: 70vh;
    min-width: 330px;
    background-color: rgb(88, 88, 88);
    background-image: url(imagenes/historia-programacion.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    opacity: 0.8;
    z-index: 10;
}


.white-title {
    font-weight: 500;
    font-family: sans-serif;
    color: aliceblue;
    font-size: 4em;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}



/* nav */

nav {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    top: 0;
    padding: 40px;
    transition: 0.8s;
    z-index: 10;
}

/* class toggle */

.down{
    background-color: aliceblue;
    transition: 0.8s;
}

nav.down ul li a {
    color: black;
    text-shadow: none;
}

/* --------------------- */

.logo {
    background-color: rgba(0, 0, 0, 0.155);
    width: 100px;
    height: 70px;
    padding: 10px;
}


.logo a {
    text-decoration: none;
    color: white;
}

ul {
    width: fit-content;
    height: 70px;
    list-style-type: none;
    gap: 20px;
    padding: 10px;
}


.a-li {
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    color: aliceblue;
    text-shadow: 2px 2px 1px black;
    text-decoration: none;
}


#icon_menu2, #icon_menu {
    display: none;
}




/* ----------- nav -------------- */




/* body */

body {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    /* min-width: 768px; */
}


/* main */

main {
    width: 100%;
    height: fit-content;
    padding: 100px 20px;
    position: relative;
}

.main-main {
    flex-direction: column;
}

/* history section and cards */


.history-main {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 50px 20px;
}

.history-section-card {
    display: flex;
    justify-content: center;
}


.cards {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
}


.card-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 16px;
}

.cards>img {
    width: 50%;
}

.card-text>h2 {
    font-size: 3em;
    font-weight: 400;
    padding: 2rem;
}

.card-text>h2 , .card-text>p{
    font-family: sans-serif;
    margin: 0;
}

.card-text>p{
    padding: 2em;
}

.card-1 {
    width: 80%;
    /* padding: 80px 250px; */
}


/* section - content */

.content {
    width: 70%;
    height: 100%;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.h2-content {
    width: 200px;
    height: 400px;
    font-size: 3em;
    text-align: center;
}

.img-card {
    width: 100%;
    height: auto;
}

.card {
    width: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.301);
}



.card img {
    width: 100%;
}


.p-card {
    width: 80%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.a-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.966);
    width: 60%;
    height: 60px;
    font-size: 1.5em;
    text-decoration: none;
    color: aliceblue;
}


/* footer */


footer {
    background-color: rgba(0, 0, 0, 0.863);
    width: 100%;
    height: 240px;
}

.assets {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    font-family: sans-serif;
}

.logo_and_h3 {
    display: flex;
    align-items: center;
}

.text_asset_footer {
    color: aliceblue;
    height: 100%;
    font-size: 1.3em;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    width: fit-content;
}

@media screen and (max-width : 768px){
    *, html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        scrollbar-width: none;
    }


    /* header */

    .history-header {
        height: 480px;
    }

    /* menu */

    #content-menu-mobile {
        position: fixed;
        display: none;
        width: 400px;
        height: 300px;
        right: 0;
        top: 0;
        /* background-color: rgb(255, 255, 255); */
        animation-name: animation2;
        animation-duration: 0.2s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }


    #content-menu-mobile::selection {
        background-color: black;
    }

    @keyframes animation2 {
        from {
            background-color: rgb(0, 0, 0);
            width: 0px;
        }
        
        to {
            background-color: rgb(255, 255, 255);
            width: 400px;
        }

    }

    .down2 {
        background-color: black;
    }

    /* nav */

    nav {
        height: fit-content;

    }

    #menu {
        width: 180px;
        height: 200px;
        flex-direction: column;
        text-align: center;
        z-index: 11;
        padding: 46px 15px 0px 15px;
    }

    #menu li {
        width: 300px;
        height: 50px;
        border: 2px black solid;

    }

    #menu li a {
        font-size: 1.2em;
        text-shadow: none;
        color: black;
    }

    #icon_menu {
        display: block;
    }

    #icon_menu2 {
        display: block;
        position: absolute;
        top: 45px;
        right: 35px;
        z-index: 12;
    }


    /* title */

    .white-title {
        font-size: 2.4em;
    }
    


    /* body */

    body {
        max-width: 100%;
        height: fit-content;
        gap: 100px;
    }


    .main-header {
        height: 450px;
    }


    .content {
        width: 100%;
        height: 100%;
        padding: 0;
        gap: 20px;
    }

    .card {
        width: 90%;
        height: 95%;
        display: flex;
        /* flex-direction: row; */
        justify-content: space-around;
        gap: 30px;
        box-shadow: 1px 1px 11px black;
    }

    .card:hover {
        opacity: 1;
    }

    .h2-content {
        height: 200px;
    }

    .img-card {
        width: 100%;
        height: auto;
    }

    .main-main {
        padding: 0;
        justify-content: space-between;
        width: 100%;
    }

    .a-card {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.356);
        width: 40%;
        height: 60px;
        font-size: 1.5em;
        text-decoration: none;
        color: aliceblue;
    }



    .p-card {
        width: 100%;
        text-align: center;
        font-size: 20px;
    }



    /* media history */

    .history-main {
        gap: 15px;
    }

    .history-section-card {
        box-shadow: 1px 10px 12px rgb(100, 99, 99);
    }

    .cards {
        flex-direction: column;
        width: 100%;
    }

    #img-card3 {
        order: 1;
    }

    .card-2 .card-text {
        order: 2;
    }


    .cards img {
        width: 100%;
    }

    .card-text > h2 {
        font-size: 1.5em;
    }


    .logo_and_h3>img, .text_asset_footer>img {
        width: 50px;
        height: auto;
    }

    .logo_and_h3>h3, .text_asset_footer {
        font-size: 1em;
    }

}